section {
    width: 100%;
    font-family: sans-serif;
}

@media screen and (min-width: 900px) {
    section {
        width: 100%
    }
}

@media screen and (min-width: 1000px) {
    section {
        width: 100%;
    }
}


table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

th.button {
    width: 285px;
    height: 45px;
    font-size: 20px;
    padding: 7px;
    background-color: #f7f7f7;
    border: 3px solid #000000;
    border-radius: 80px;
    box-shadow: 1px 1px 4px 4px lightgray;
    cursor: pointer;
}

th.button1 {
    width: 300px;
    height: 40px;
    background-color: #f7f7f7;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px lightgray;
}

button {
    width: 6%;
    height: 30px;
    padding: 7px;
    background-color: #f7f7f7;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 1px 1px 4px 4px lightgray;
    margin: 10px;
    cursor: pointer;
}



